- wonBid = won_bid_for_auction(auction)
- if current_user.region == auction.region
  %tr{:class => 'auction', :id => "silentAuction_#{auction.id}"}
    %td.auction_photos
      = render :partial => 'silent_auctions/auction_photos', :locals => {:auction => auction}
    %td.auction_info
      %p.itemTitle= auction.title
      = simple_format(auction.description, :class => 'itemDescription')
      = simple_format("Winner: <span class='highlight'>#{wonBid.user.username}@thoughtworks.com</span>", :class => 'itemWinner')
    -#%td.region
      -#= simple_format("Region:<br/><strong>#{auction.region.upcase}</strong>")
    %td.min_price
      -#= simple_format("Min Price:<br/><strong>#{(auction.region == "AUS" ? "AU$" : "NA") + " " + auction.min_price.to_s}</strong>")
      -#= simple_format("Min Price:<br/><strong>#{number_to_currency(auction.min_price, :locale => auction.region)}</strong>")
      = simple_format("Min Price:<br/><strong>#{get_region_config(current_user.region)['currency']} #{auction.min_price}</strong>")
      #{get_region_config(current_user.region)['currency']}
    %td.end_date
      = simple_format("End date:<br /><strong>#{formatted_date(auction.end_date)}</strong>")
    %td.auction_bids
      = simple_format("Winning Bid:<br/><span class='highlight'>#{number_to_currency(wonBid.amount)}</span>")
    %td.auction_controls
      - if current_user.admin?
        .controls_holder
          = link_to "x".html_safe, confirm_delete_silent_auction_path(auction),
                                  :method => 'post',
                                  :class => "btn btn-mini delete_btn",
                                  :title => "delete_auction"
      - else
        = render :partial => "bids/user_bid_view", :locals => { :auction => auction, :wonBid => wonBid }