%div{:class => 'well form-horizontal'}
  %legend Item Details
  = f.input :title, :label => 'Title', :input_html => {:class => "span6"}
  = f.input :category_id, :as=>:select, :include_blank => "Select a Category", :collection => Category.all, :label_method => :category, :value_method => :id
  - if @silent_auction.creator.nil?
    = f.input :creator, :as => :hidden, :input_html => {:value => current_user.username}
  - else
    = f.input :creator, :as => :hidden, :input_html => {:value => @silent_auction.creator}
  = f.input :item_type, :as => :radio_buttons, :collection => [['Silent Auction','Silent Auction'],['Normal Auction','Normal Auction'],['Quick Sale','Quick Sale']], :label_method => :last, :value_method => :first
  = f.input :min_price, :label => 'Minimum Price',:wrapper => :prepend do
    = content_tag :span, "#{current_user.currency}", :class => "add-on", :id => "silent_auction_currency"
    = f.input_field :min_price
  .text_counter
    = f.input :description, :as => :text, :label => 'Description', :input_html => { :rows => 8, :class => "span6", :id => "description" }
  = f.input :start_date, :label =>"Start date", :as => :string, :order =>[:day,:month,:year], :input_html => {:class =>"datePicker" }
  = f.input :end_date, :label =>"End date", :as => :string, :order =>[:day,:month,:year], :input_html => {:class =>"datePicker", :value => 2.weeks.from_now.in_time_zone(current_user.timezone).to_s(:date_month_and_year)}
%div{:class => 'well form-inline clearfix', :id => "image-upload"}
  %legend.file_upload
    = "Item Images"
    %span (maximum 6 uploads)
  %div{:style => 'margin-left:160px;'}
    = f.simple_fields_for :photos do |photo|
      = render :partial => "photos/photo_fields", :locals => {:f => photo}
    = f.link_to_add "<i class='icon-plus icon-white'></i> Add another image".html_safe, :photos, :class => "btn btn-success add-image-btn"
