- bid = user_bid_for_auction(auction)
- if current_user.region == auction.region
  %tr{:class => "auction", :id => "silentAuction_#{auction.id}"}
    %td.auction_photos
      = render :partial => 'silent_auctions/auction_photos', :locals => {:auction => auction}
    %td.auction_info
      %p.itemTitle= auction.title
      = simple_format(auction.description, :class => 'itemDescription')
    %td.min_price
      = simple_format("Min Price:<br/><strong>#{current_user.currency} #{number_with_delimiter(auction.min_price)}</strong>")
    %td.start_date
      = simple_format("Start date:<br /><strong>#{formatted_date(auction.start_date)}</strong>")
    %td.end_date
      = simple_format("End date:<br /><strong>#{formatted_date(auction.end_date)}</strong>")
    -#- if current_user.admin?
    = render :partial => "silent_auctions/admin_normal_auction_view", :locals => { :auction => auction }
