- bid = user_bid_for_auction(auction)
%tr{:class => "auction #{ (bid != nil && bid.active) ? 'bid_auction' : ''}", :id => "silentAuction_#{auction.id}"}
  %td.auction_photos
    - photos = auction.photos
    - if photos.empty?
      = image_tag(asset_path("img_placeholder.jpg"))
    - else
      %a{:class => 'gallery', :rel => "photos_auction_#{auction.id}", :href => photos[0].image_url.to_s}
        = image_tag photos[0].image_url(:thumb).to_s
      %div{:style=>"visibility:hidden"}
        - photos.each_with_index do |photo, index|
          - unless index == 0
            = link_to "", photo.image_url.to_s, :class => "gallery", :rel => "photos_auction_#{auction.id}", :title => photo.caption
  %td.auction_info
    %p.itemTitle= auction.title
    = simple_format(auction.description, :class => 'itemDescription')
  %td.min_price
    = simple_format("Min Price:<br/><strong>#{number_to_currency(auction.min_price)}</strong>")
  %td.end_date
    = simple_format("End date:<br /><strong>#{formatted_date(auction.end_date)}</strong>")
  - if current_user.admin?
    = render :partial => "admin_auction_view", :locals => { :auction => auction }
  - else
    = render :partial => "bids/user_bid_view", :locals => { :auction => auction, :bid => bid }
