- bid = user_bid_for_auction(auction)
- if current_user.region == auction.region
  %tr{:class => "auction", :id => "silentAuction_#{auction.id}"}
    %td.auction_photos
      = render :partial => 'silent_auctions/auction_photos', :locals => {:auction => auction}
    %td.auction_info
      %p.itemTitle= auction.title
      = simple_format(auction.description, :class => 'itemDescription')
      = simple_format("Contact: <span class='highlight'>#{auction.creator}@thoughtworks.com</span>", :class => 'itemWinner')      
    -#%td.region
      -#= simple_format("Region:<br/><strong>#{auction.region.upcase}</strong>")
    %td.min_price
      -#= simple_format("Min Price:<br/><strong>#{(auction.region == "AUS" ? "AU$" : "NA") + " " + auction.min_price.to_s}</strong>")
      -#= simple_format("Min Price:<br/><strong>#{number_to_currency(auction.min_price, :locale => auction.region)}</strong>")
      = simple_format("Min Price:<br/><strong>#{get_region_config(current_user.region)['currency']} #{number_with_delimiter(auction.min_price)}</strong>")
    %td.start_date
      = simple_format("Start date:<br /><strong>#{formatted_date(auction.start_date)}</strong>")
    %td.end_date
      = simple_format("End date:<br /><strong>#{formatted_date(auction.end_date)}</strong>")
    - if current_user.admin? || current_user.username == auction.creator
      = render :partial => "admin_normal_auction_view", :locals => { :auction => auction }
    - else
      - if current_user.username != auction.creator
        = render :partial => "bids/user_normal_bid_view", :locals => { :auction => auction, :bid => bid }
