- bid = user_bid_for_auction(auction)
- if current_user.region == auction.region
  %tr{:class => "auction", :id => "silentAuction_#{auction.id}"}
    %td.auction_photos
      = render :partial => 'silent_auctions/auction_photos', :locals => {:auction => auction}
    %td.auction_info
      %p.itemTitle= link_to auction.title, new_silent_auction_auction_message_path(auction)
      = simple_format(auction.description, :class => 'itemDescription')
      = simple_format("Contact: <span class='highlight'>#{auction.creator}@thoughtworks.com</span>", :class => 'itemWinner')
    %td.min_price
      = simple_format("Min Price:<br/><strong>#{current_user.currency} #{number_with_delimiter(auction.min_price)}</strong>")
    %td.start_date
      = simple_format("Start date:<br /><strong>#{formatted_date(auction.start_date)}</strong>")
    %td.end_date
      = simple_format("End date:<br /><strong>#{formatted_date(auction.end_date)}</strong>")
    - if current_user.admin?
      = render :partial => "admin_auction_view", :locals => { :auction => auction }
    - else
      - if current_user.username != auction.creator
        = render :partial => "bids/user_bid_view", :locals => { :auction => auction, :bid => bid }
      - else
        -# %td
          -# &nbsp;
        %td.auction_bids
          - bid_count = auction.bids.active.count
          - if bid_count > 0
            %span{:class => 'badge badge-warning', :style => "font-weight:bold;"}
              = pluralize(bid_count, "bid")
          - else
            %span{:class => 'badge badge-error', :style => "font-weight:bold;"}
              = "0 bids"
