- @user = current_user
%h1
  %span Future Auctions
  - if current_user.admin?
    = link_to 'Create NEW Auction', new_silent_auction_path, :class => 'btn btn-primary'

-#- status = page_entries_info @future_auctions
-#- replacements = [ ["silent", "future"], ["entries", "auctions"] ]
-#- replacements.each {|replacement| status.gsub!(replacement[0], replacement[1])}
-#%h3= status.html_safe
- @future_auctions = @future_auctions.where("region = '#{@user.region}'")
- if @future_auctions.empty?
  - status = page_entries_info @future_auctions
  - replacements = [ ["silent", "future"], ["entries", "auctions"] ]
  - replacements.each {|replacement| status.gsub!(replacement[0], replacement[1])}
  %h3= status.html_safe
  .empty_collection
    %p.emptyMsg There are no future auctions.
- else
  - status = page_entries_info @future_auctions
  - replacements = [ ["silent", "future"], ["entries", "auctions"] ]
  - replacements.each {|replacement| status.gsub!(replacement[0], replacement[1])}
  %h3= status.html_safe
  %table{:class => 'table table-simpleBordered', :id => 'futureAuctions'}
    %tbody
      - @future_auctions.each do |auction|
        = render :partial => "running_auction", :locals => { :auction => auction }
  %div{:class => 'index_footer clearfix'}
    = paginate @future_auctions
    .pagination_info
      = (page_entries_info @future_auctions).sub("silent", "future").html_safe
