%h1
  %span Silent Auctions Listing
  - if current_user.admin?
    = link_to 'Create NEW Auction', new_silent_auction_path, :class => 'btn btn-primary'

%h3 Running Auctions
- if @running_auctions.empty?
  .empty_collection
    %p.emptyMsg There is no running auction.
- else
  %table{:class => 'table table-simpleBordered', :id => 'runningAuctions'}
    %tbody
      - @running_auctions.each do |auction|
        %tr{:class => 'auction', :id => "silentAuction_#{auction.id}"}
          %td{:style => "width:80%"}
            %p.itemTitle= auction.title
            %p.itemDescription= auction.description
          - if current_user.admin?
            %td{:style => "width:10%"}
              - bidCount = auction.bids.active.count
              - if bidCount > 0
                %span{:style => "font-weight:bold; font-size:1em"}
                  = pluralize(auction.bids.count, "bid")
              - else
                %span{:class => 'badge badge-error', :style => "font-weight:bold; font-size:1em"}
                  = "0 bids"
            %td{:style => "width:10%"}
              - if bidCount > 0
                = link_to "CLOSE", close_silent_auction_path(auction), :method => 'put', :confirm => "Auction cannot be re-opened after closed. Continue?", :class => "btn btn-inverse"
                %span{:style => "display:block; height:10px"}
          - else
            %td
              - bid = user_bid_for_auction(auction)
              - if bid != nil
                - if bid.active?
                  %p= "Your bid: <b>#{number_to_currency(bid.amount)}</b>".html_safe
                  = link_to "Withdraw Bid", bid, :method => 'put', :confirm => "No more bid on this auction will be allowed for you after withdraw. Continue?",:class => "btn btn-danger"
                - else
                  %p= "Your bid: <span class='delBid'>#{number_to_currency(bid.amount)}</span>".html_safe
                  %span{:style => 'font-weight:bold; color:#f00'} WITHDRAWN
              - else
                = simple_form_for (Bid.new), :html => { :class => 'form-inline' } do |f|
                  = f.input :amount, :label => "Your Bid", :input_html => {:class => "smallInput"}
                  = f.hidden_field :silent_auction_id, :value => auction.id
                  = submit_tag "Place Bid", :class => 'btn btn-primary'

%h3 Closed Auctions
- if @closed_auctions.empty?
  .empty_collection
    %p.emptyMsg There is no closed auction.
- else
  %table{:class => 'table table-simpleBordered', :id => 'closedAuctions'}
    %tbody
      - @closed_auctions.each do |auction|
        %tr{:class => 'auction', :id => "silentAuction_#{auction.id}"}
          - wonBid = won_bid_for_auction(auction)
          %td{:style => "width:80%"}
            %p.itemTitle= auction.title
            %p.itemDescription= auction.description
            %p.itemWinner= "Winner: <span style='color:green'>#{wonBid.user.username}@thoughtworks.com</span>".html_safe
          %td{:style => "width:10%"}
            %p= "Won Bid: <span style='color:green; font-weight:bold'>#{number_to_currency(wonBid.amount)}</b>".html_safe
          %td{:style => "width:10%"} &nbsp;