- @user = current_user
%h1
  %span Running Auctions
  -#- if current_user.admin?
  = link_to 'Create NEW Auction/Sale', new_silent_auction_path, :class => 'btn btn-primary'
  = render :partial => "category_search_filter", :locals => {:category =>@search_category }
  %hr
- if @running_auctions.blank?
  %h3= "No auctions found"
  .empty_collection
    %p.emptyMsg There are no running auctions.
- else
  %h3= "Displaying all #{pluralize(@running_auctions.count, "running auctions")}"
  %table{:class => 'table table-simpleBordered', :id => 'runningAuctions'}
    %tbody
      - @running_auctions.each do |auction|
        = render :partial => "running_auction", :locals => { :auction => auction }
