%h1
  %span Running Auctions
  - if current_user.admin?
    = link_to 'Create NEW Auction', new_silent_auction_path, :class => 'btn btn-primary'

%h3= (page_entries_info @running_auctions).sub("silent", "running").html_safe
- if @running_auctions.empty?
  .empty_collection
    %p.emptyMsg There are no running auctions.
- else
  %table{:class => 'table table-simpleBordered', :id => 'runningAuctions'}
    %tbody
      - @running_auctions.each do |auction|
        = render :partial => "running_auction", :locals => { :auction => auction }
  %div{:class => 'index_footer clearfix'}
    = paginate @running_auctions
    .pagination_info
      = (page_entries_info @running_auctions).sub("silent", "running").html_safe

