- flash.each do |name, msg|
  %div{:class => "alert alert-#{ name == :success ? 'success' : 'error' }"}
    %a.close{"data-dismiss" => "alert"} x
    = msg

%h1
  %span Silent Auctions Listing
  = link_to 'Create NEW Auction', new_silent_auction_path, :class => 'btn btn-primary'

%h3 Running Auctions
- if @running_auctions.empty?
  .empty_collection
    %p.emptyMsg There is no running auction.
- else
  %table{:class => 'table table-simpleBordered', :id => 'runningAuctions'}
    %tbody
      - @running_auctions.each do |auction|
        %tr
          %td
            %p.itemTitle= auction.title
            %p.itemDescription= auction.description

%h3 Closed Auctions
- if @closed_auctions.empty?
  .empty_collection
    %p.emptyMsg There is no closed auction.
- else
  %table{:class => 'table table-simpleBordered', :id => 'closedAuctions'}
    %tbody
      - @closed_auctions.each do |auction|
        %tr
          %td
            %p.itemTitle= auction.title
            %p.itemDescription= auction.description