%h1{:style => 'margin-bottom:20px;'} Create New Auction

= simple_form_for @silent_auction, :html => { :class => 'form-horizontal form-bordered' } do |f|
  = f.input :title, :label => 'Title', :input_html => {:class => "longInput"}
  = f.input :min_price, :label => 'Minimum Price',:input_html => {:style => "width:100px", :type => 'text'}
  = f.input :description, :as => :text, :label => 'Description', :input_html => { :rows => 10 }
  = f.input :end_date, :label => 'End date', :as => :string, :hint => 'End date is automatically set as 2 weeks from now', :readonly => true, :input_html => { :value => formatted_date(@silent_auction.end_date) }

  .form-actions
    = link_to "Back to Listing", silent_auctions_path, :class => 'btn'
    = submit_tag "Save and create another auction", :name => "continue", :id => 'submit_continue', :class => 'btn btn-primary'
    = submit_tag "Save and go back to listing", :name => "done", :id => 'submit_done', :class => 'btn btn-primary'
