%h1{:style => 'margin-bottom:20px;'} Create New Auction

= simple_nested_form_for @silent_auction, :html => { :multipart => true } do |f|
  = render :partial => 'form', :locals => {:f => f}

  %div{:class => 'form-horizontal'}
    %div{:class => 'form-actions'}
      = link_to "Back to Listing", silent_auctions_path, :class => 'btn'
      = submit_tag "Save and create another auction", :name => "continue", :id => 'submit_continue', :class => 'btn btn-primary form_action_btn', :disable_with => "Save and create another auction"
      = submit_tag "Save and go back to listing", :name => "done", :id => 'submit_done', :class => 'btn btn-primary form_action_btn', :disable_with => "Save and go back to listing"
