= simple_form_for (Bid.new), :remote => true, :html => { :class => 'form-inline bid_form' } do |f|
  -#- @bid = Bid.new
  -#= simple_form_for @bid, :remote => true, :html => { :class => 'form-inline bid_form' } do |f|
  -#= f.input :amount, :label => "Your Bid", :input_html => {:class => "span1", :type => "text"}
  - bid_count = @auction.bids.active.count
  - if bid_count > 0
    %span{:class => 'badge badge-warning', :style => "font-weight:bold;"}
      = "Highest Bid: #{current_user.currency} #{won_bid_for_auction(auction).amount}"
  - else
    %span{:class => 'badge badge-error', :style => "font-weight:bold;"}
      = "There's no bid yet !"
  %br
  %br
  = f.input :amount, :label => "Your Bid", :wrapper => :prepend do
    = content_tag :span, "#{current_user.currency}", :class => "add-on", :id => "bid_amount_currency"
    = f.input_field :amount, :class => 'span1'
  = f.hidden_field :silent_auction_id, :value => auction.id
  = submit_tag "Place Bid", :class => 'btn btn-primary btn-mini', :disable_with => "Submitting..."
