- bid = user_bid_for_auction(auction)
- bid_count = auction.bids.active.count
- if auction.open?
  %td{ :id => "bid_for_auction_#{auction.id}", :class =>"bid_col", :html => "colspan='2'"}    
    - if bid != nil
      = render :partial => "bids/updateNormalBidForm", :locals => { :auction => auction, :bid => bid }
    - else
      - @auction = auction
      = render :partial => "bids/newNormalBidForm", :locals => { :auction => @auction }
- else
  - if bid != nil
    - if bid.active
      - if bid.id == wonBid.id
        -#= simple_format("Your Bid:<br/><span class='highlight'>#{number_to_currency(bid.amount)}</span>")
        = simple_format("Your Bid:<br/><span class='highlight'>#{get_region_config(auction.region)['currency']} #{number_with_delimiter(bid.amount)}</span>")
      - else
        -#= simple_format("Your Bid:<br/><span class='lost'>#{number_to_currency(bid.amount)}</span>")
        = simple_format("Your Bid:<br/><span class='lost'>#{get_region_config(auction.region)['currency']} #{number_with_delimiter(bid.amount)}</span>")
  - else
    &nbsp;