- bid = user_bid_for_auction(auction)
- if auction.open?
  %td{ :id => "bid_for_auction_#{auction.id}", :class =>"bid_col", :html => "colspan='2'"}
    - if bid != nil
      - if bid.active?
        = render :partial => "bids/withdrawBidForm", :locals => { :bid => bid }
      - else
        = render :partial => "bids/withdrawnBid", :locals => { :bid => bid }
    - else
      = render :partial => "bids/newBidForm", :locals => { :auction => auction }
- else
  - if bid != nil
    - if bid.active
      - if bid.id == wonBid.id
        = simple_format("Your Win Bid:<br/><span class='highlight'>#{number_to_currency(bid.amount)}</span>")
      - else
        = simple_format("Your Lost Bid:<br/><span class='lost'>#{number_to_currency(bid.amount)}</span>")
    - else
      = simple_format("Your bid: <span class='delBid'>#{number_to_currency(bid.amount)}</span>")
      %span{:style => 'font-weight:bold; color:#f00'} WITHDRAWN
  - else
    &nbsp;