%h1 #{@title}

%p
  %br/
  %a{:href => "#stop_email"} How do I change my email notification options?
  %br/
  %br/
  %a{:href => "#kinds_of_transactions"} What kinds of selling options are available?
  %br/
  %br/
  %a{:href => "#payment"} How do I make a payment for an item I have bought or get paid for an item I have sold?
  %br/
  %br/
  %a{:href => "#timezone"} What is the duration of an auction/sale?
  %br/
  %br/
  %a{:href => "#region"} Does the system cover additional regions?
  %br/
  %br/
  %a{:href => "#how_many_bids"} How many times can I place a bid on a auction of an item?
  %br/
  %br/
  %a{:href => "#withdraw_my_bid"} Can I withdraw my bid from a auction of an item?
  %br/
  %br/
  %a{:href => "#see_my_bids"} How can I see the bids that I have placed on an auction?
  %br/
  %br/
  %a{:href => "#win"} How do I find out if I have won an auction?
  %br/
  %br/
  %a{:href => "#delete"} How can I delete the auction of my item?
  %br/
  %br/
  %a{:href => "#close_an_auction"} How can I close the auction I have created before the ending date?
  %br/
  %br/
  %a{:href => "#edit_an_item"} How can I change the details of an auction or a sale I have created?
  %a{:name => 'stop_email'}
  %br/
  %br/
  %a{:href => "#future_item"} What happens to the auction that I want to start sometime in the future?
  %br/
  %br/
  
%h3 Question: How do I change my email notification options?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "Email Notification Setting" that will give you multiple options. However, you will still get an email as a reminder when you put an item on sale and the sale period of the item is about to end.'
  %br/
  %br/
  %a{:name => 'kinds_of_transactions'}
  %a{:href => '#top'} Back to top
%h3 Question: What kinds of selling options are available?
%p.emptyMsg 
  = 'On Garage Sale, you can sell your items as a silent auction, a normal auction or a quick sale. In an auction, other ThoughtWorkers will be able to place bids, which cannot be less than your specified minimum price for the item. While a quick sale can be used as a board to advertise your item (your email address will be written together with the details of your item or you may also put other contact details under the description of the item) so that any interested buyers can contact you directly.'
  %br/
  %br/
  %a{:name => 'payment'}
  %a{:href => '#top'} Back to top
%h3 Question: How do I make a payment for an item I have bought or get paid for an item I have sold?
%p.emptyMsg 
  = 'It is up to the seller and buyer to arrange the payment and transfer of the item. It is also a good idea to contact the seller first and talk about the payment options before making any decision. As the seller put up some information about how payment and delivery options you prefer either within the item description or as a Message in the item details.'
  %br/
  = 'In particular for TW laptops, the payment is usually made by a deduction from your salary.'
  %br/
  %br/
  %a{:name => 'timezone'}
  %a{:href => '#top'} Back to top
%h3 Question: What is the duration of an auction/sale?
%p.emptyMsg
  &#8226; Every auction/sale starts on will start on the day specified as the start date.
  %br
  &#8226; You can also set an auction/sale to start sometime in the future. In this case, the starting time will be around 00:00 o'clock on the specified starting date, according to the timezone associated with the region of the auction/sale. 
  %br
  &#8226; The ending time will be at 23:59 o'clock on the specified ending date, according to the timezone associated with the region of the auction/sale.
  %br
  &#8226; This timezone is according to the regional time of a major city in your country, for example: the regional time of Melbourne is used for Australia, and the regional time of New Delhi is used for India. 
  %br/
  %br/
  %a{:name => 'region'}
  %a{:href => '#top'} Back to top
%h3 Question: Does the system cover additional regions?
%p.emptyMsg 
  = 'There may be more regions added to the system and you will be able to see items in other regions by changing the selected region associated with your account (by clicking the flag icon at the top part of the webpage).'
  %br/
  = 'However, please be aware that if you join in an auction in regions other than yours, you will need to face and handle the complexity of making a payment in a different currency, as well as the shipping of the item across regions.'
  %br/
  %br/
  %a{:name => 'how_many_bids'}
  %a{:href => '#top'} Back to top
%h3 Question: How many times can I place a bid on a auction of an item?
%p.emptyMsg 
  = 'On a silent auction, you can only place a bid once. If you want, you may withdraw the bid you have placed, but you won\'t be able to place another bid on the same item.'
  %br/
  = 'On a normal auction, you can place a bid and withdraw it multiple times.'
  %br/
  %br/
  %a{:name => 'withdraw_my_bid'}
  %a{:href => '#top'} Back to top
%h3 Question: Can I withdraw my bid from a auction of an item?
%p.emptyMsg 
  = 'On a silent auction, if you want, you may withdraw the bid you have placed, but you won\'t be able to place another bid on the same item.'
  %br/
  = 'On a normal auction, you can place a bid and withdraw it multiple times.'
  %br/
  %br/
  %a{:name => 'see_my_bids'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I see the bids that I have placed on an auction?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Bid" link that will display all bids you have made.'
  %br/
  %br/
  %a{:name => 'win'}
  %a{:href => '#top'} Back to top
%h3 Question: How do I find out if I have won an auction?
%p.emptyMsg 
  = 'If your email notification setting is turned on, Garage Sale will send a notification email to your ThoughtWorks email account, otherwise you can simply check the website and go to the "Closed Auction" page that will list all the auctions that have ended together with the winner for each item.'
  %br/
  %br/
  %a{:name => 'delete'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I delete the auction of my item?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Auctions" or "My Sales" that will display the list of items you have posted onto the system. At the farthest right hand side of the details for each item you will see a button with a cross symbol ("X") or a menu button titled "Manage" that will allow you to delete an item. However you won\'t be able to remove the auction if it has one or more bids placed on it.'
  %br/
  %br/
  %a{:name => 'close_an_auction'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I close the auction I have created before the ending date?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Auctions" that will display the list of items you have put on auctions. At the farthest right hand side of the details for each item you will see a menu button titled "Manage" that will allow you to close an action sooner. However, this can only be done under one condition, the item must have atleast one bid on it for you to be able to close it early.'
  %br/
  %br/
  %a{:name => 'edit_an_item'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I change the details of an auction or a sale I have created?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Auctions" or "My Sales" that will display the list of items you have posted onto the system. At the farthest right hand side of the details for each item you will see a menu button titled "Manage" that will allow you to edit the details of an item. However, particularly for an auction, you won\'t be able to edit the details of an item that has one or more bids placed on it. But you can still inform people about changes to your items in the auction messages.'
  %br/
  %br/
  %a{:name => 'future_item'}
  %a{:href => '#top'} Back to top
%h3 Question: What happens to the auction that I want to start sometime in the future?
%p.emptyMsg 
  = 'If you specify the start date of an auction or sale of an item to be at sometime in the future, then other ThoughtWorkers will not be able to see your item on Garage Sale until the starting date specified for the auction or sale of that item.'
  %br/
  %br/
  %a{:href => '#top'} Back to top