%h1 #{@title}

%p
  %br/
  %a{:href => "#list_my_items"} Why can't I see the item I put on auction/sale under the "Current Deals" for "Silent Auctions" or "Quick Sales"?
  %br/
  %br/
  %a{:href => "#stop_email"} How do I stop this website from sending emails to me?
  %br/
  %br/
  %a{:href => "#kinds_of_transactions"} What kinds of transaction are available on this website?
  %br/
  %br/
  %a{:href => "#timezone"} When is the starting time and the ending time of an auction/sale?
  %br/
  %br/
  %a{:href => "#how_many_bids"} How many times can I place a bid on the silent auction of an item?
  %br/
  %br/
  %a{:href => "#withdraw_my_bid"} Can I withdraw my bid from the silent auction of an item?
  %br/
  %br/
  %a{:href => "#see_my_bids"} How can I see the bids I have placed on silent auctions?
  %br/
  %br/
  %a{:href => "#win"} How am I going to find out if I win an auction?
  %br/
  %br/
  %a{:href => "#delete"} How can I delete the item I posted when I want to cancel or early end the auction or the sale?
  %br/
  %br/
  %a{:href => "#close_an_auction"} How can I close an auction I created before the original ending date?
  %br/
  %br/
  %a{:href => "#edit_an_item"} How can I change the details of an auction or a sale I created?
  %a{:name => 'list_my_items'}
  %br/
  %br/
  %a{:href => "#future_item"} What will happen to the item I post for an auction or sale that starts sometime in the future?
  %br/
  %br/
  
%h3 Question: Why can't I see the item I put on auction/sale under the "Current Deals" for "Silent Auctions" or "Quick Sales"?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Auctions" or "My Sales" link that will display the list of the items you put on Garage Sale.'
  %br/
  %br/
  %a{:name => 'stop_email'}
  %a{:href => '#top'} Back to top
%h3 Question: How do I stop this website from sending emails to me?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "Email Notification Setting" that will give you an option to turn it  on or off. However, you will still get an email as a reminder when you put an item on sale and the sale period of the item is about to end.'
  %br/
  %br/
  %a{:name => 'kinds_of_transactions'}
  %a{:href => '#top'} Back to top
%h3 Question: What kinds of transaction are available on this website?
%p.emptyMsg 
  = 'On Garage Sale, you can post an item for either a silent auction or a sale. In a silent auction, other ThoughtWorkers will be able to place bids, which at least must be equal to the specified minimum price for the item. While a quick sale can be used as a board to advertise your item (your email address will be written together with the details of your item or you may also put other contact details under the description of the item) so that any interested buyers can contact you directly.'
  %br/
  %br/
  %a{:name => 'timezone'}
  %a{:href => '#top'} Back to top
%h3 Question: When is the starting time and the ending time of an auction/sale?
%p.emptyMsg
  %ul
    %li Every auction/sale specified to start on the same date as when it is being created will start immediately. 
    %li An item owner can also set an auction/sale to start sometime in the future. In this case, the starting time will be at 00:00 o'clock on the specified starting date, according to the timezone associated with the region of the auction/sale. 
    %li The ending time will be at 23:59 o'clock on the specified ending date, according to the timezone associated with the region of the auction/sale.
    %li This timezone is currently following the regional time of a major city in a country, for example: the regional time of Melbourne is used for Australia, and the regional time of New Delhi is used for India. 
  -#= 'On Garage Sale, you can post an item for either a silent auction or a sale. In a silent auction, other ThoughtWorkers will be able to place bids, which at least must be equal to the specified minimum price for the item. While a quick sale can be used as a board to advertise your item (your email address will be written together with the details of your item or you may also put other contact details under the description of the item) so that any interested buyers can contact you directly.'
  %br/
  %br/
  %a{:name => 'how_many_bids'}
  %a{:href => '#top'} Back to top
%h3 Question: How many times can I place a bid on the silent auction of an item?
%p.emptyMsg 
  = 'On a silent auction, you can only place a bid once. If you want, you may withdraw the bid you have placed, but you won\'t be able to place another bid on the same item.'
  %br/
  %br/
  %a{:name => 'withdraw_my_bid'}
  %a{:href => '#top'} Back to top
%h3 Question: Can I withdraw my bid from the silent auction of an item?
%p.emptyMsg 
  = 'On a silent auction, if you want, you may withdraw the bid you have placed, but you won\'t be able to place another bid on the same item.'
  %br/
  %br/
  %a{:name => 'see_my_bids'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I see the bids I have placed on silent auctions?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Bid" link that will display all bids you have made.'
  %br/
  %br/
  %a{:name => 'win'}
  %a{:href => '#top'} Back to top
%h3 Question: How am I going to find out if I win an auction?
%p.emptyMsg 
  = 'If your email notification setting is turned on, Garage Sale will send a notification email to your ThoughtWorks email account, otherwise you can simply check the website and go to the "Closed Auction" page that will list all the auctions that have ended together with the winner for each item.'
  %br/
  %br/
  %a{:name => 'delete'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I delete the item I posted when I want to cancel the auction or the sale?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Auctions" or "My Sales" that will display the list of items you have posted onto the system. At the farthest right hand side of the details for each item you will see a button with a cross symbol ("X") or a menu button titled "Manage" that will allow you to delete an item. However, particularly for an auction, you won\'t be able to delete an item that has had one or more bids placed on it.'
  %br/
  %br/
  %a{:name => 'close_an_auction'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I close an auction I created before the original ending date?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Auctions" that will display the list of items you have put on auctions. At the farthest right hand side of the details for each item you will see a menu button titled "Manage" that will allow you to close an action sooner. However, this can only be done under one condition, the item must have had at least one bid placed on it.'
  %br/
  %br/
  %a{:name => 'edit_an_item'}
  %a{:href => '#top'} Back to top
%h3 Question: How can I change the details of an auction or a sale I created?
%p.emptyMsg 
  = 'At the top-right corner of the page, inside the Login/Logout menu, there is "My Auctions" or "My Sales" that will display the list of items you have posted onto the system. At the farthest right hand side of the details for each item you will see a menu button titled "Manage" that will allow you to edit the details of an item. However, particularly for an auction, you won\'t be able to edit the details of an item that has had one or more bids placed on it.'
  %br/
  %br/
  %a{:name => 'future_item'}
  %a{:href => '#top'} Back to top
%h3 Question: What will happen to the item I post for an auction or sale that starts sometime in the future?
%p.emptyMsg 
  = 'If you specify the start date of an auction or sale of an item to be at sometime in the future, then other ThoughtWorkers will not be able to see your item on Garage Sale until the starting date specified for the auction or sale of that item.'
  %br/
  %br/
  %a{:href => '#top'} Back to top
  -#%table{:class => 'table table-simpleBordered', :id => 'currentBids'}
    -#%tbody
      -#- @running_bids.each do |bid|
        -#- auction = bid.silent_auction
        -#= render :partial => "silent_auctions/running_auction", :locals => {:auction => auction }
