%li{:class => "span4", :id => "silentAuction_#{@ending_soon.id}"}
  %div{:class => "thumbnail"}
    = render :partial => 'auction_photos', :locals => {:auction => @ending_soon}
    %br
    %span.well "AU$ #{@ending_soon.min_price}"
    %hr
    %div
      = link_to new_silent_auction_auction_message_path(@ending_soon) , {:class => 'btn btn-large'}  do
        %i{:class => 'icon-info-sign'}
        -if @ending_soon.title.length < 23
          #{@ending_soon.title}
        -else
          #{(@ending_soon.title)[0..23] + "...."}
    %hr
    -if days_left(@ending_soon) == 'Ending Today'
      %span{:class => 'label label-important'} Time Left:Today
    -else
      %span{:class => 'label label-success'} Time Left: #{days_left(@ending_soon)} days
