- if @running_auction == nil
  %li No Auctions Ending Soon.
- else
  %li{:class => "span4", :id => "silentAuction_#{@running_auction.id}"}
    %div{:class => "thumbnail"}
      = render :partial => 'silent_auctions/auction_photos', :locals => {:auction => @running_auction}
      %hr
      %div
        = link_to new_silent_auction_auction_message_path(@running_auction) , {:class => 'btn btn-large'}  do
          -if @running_auction.title.length < 25
            #{@running_auction.title}
          -else
            #{(@running_auction.title)[0..25] + "...."}

