%p#notice= notice

%p
  %b Data file name:
  = @asset.data_file_name
%p
  %b Data content type:
  = @asset.data_content_type
%p
  %b Data file size:
  = @asset.data_file_size
%p
  %b Attachable:
  = @asset.attachable

= link_to 'Edit', edit_asset_path(@asset)
\|
= link_to 'Back', assets_path
