%h1 Listing auction_messages

%table
  %tr
    %th Silent auction
    %th Message
    %th Creator
    %th Message date
    %th
    %th
    %th

  - @auction_messages.each do |auction_message|
    %tr
      %td= auction_message.silent_auction_id
      %td= auction_message.message
      %td= auction_message.creator
      %td= auction_message.message_date
      %td= link_to 'Show', auction_message
      %td= link_to 'Edit', edit_auction_message_path(auction_message)
      %td= link_to 'Destroy', auction_message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Auction message', new_auction_message_path
