- bid = user_bid_for_auction(@silent_auction)
-@user = current_user
%h1{:style => 'margin-bottom:20px;'} Auction Details
%h3= "Displaying Details and auction messages of a auction"
%table{:class => 'table table-condensed', :id => 'auctionDetails'}
  %tbody
    %tr
      %td= render :partial => 'silent_auctions/auction_photos', :locals => {:auction => @silent_auction}
      %td
        = simple_format("<strong>#{@silent_auction.title}</strong>")
        = simple_format("Contact: <span class='highlight'>#{@silent_auction.creator}@thoughtworks.com</span>", :class => 'itemWinner')
    %tr
      %td= "Description"
      %td= simple_format("<strong>#{@silent_auction.description}</strong>")
    %tr
      %td= "Category"
      %td= simple_format("<strong>#{(Category.find(@silent_auction.category_id)).category}</strong>")
    %tr
      %td= "Min Price"
      %td= simple_format("<strong>#{current_user.currency} #{number_with_delimiter(@silent_auction.min_price)}</strong>")
    %tr
      %td= "Start Date"
      %td= simple_format("<strong>#{formatted_date(@silent_auction.start_date)}</strong>")
    %tr
      %td= "End Date"
      %td= simple_format("<strong>#{formatted_date(@silent_auction.end_date)}</strong>")
    %tr
      - if current_user.username != @silent_auction.creator
        = render :partial => "bids/user_bid_view", :locals => { :auction => @silent_auction, :bid => bid }
      - else
        %td.auction_bids
          - bid_count = @silent_auction.bids.active.count
          - if bid_count > 0
            %span{:class => 'badge badge-warning', :style => "font-weight:bold;"}
            = pluralize(bid_count, "bid")
          - else
            %span{:class => 'badge badge-error', :style => "font-weight:bold;"}
              = "0 bids"
- unless @auction_messages.empty?
  %div{:class => 'well form-horizontal'}
    .field
    %span{:style => 'font-size:20px;margin-right:10px;'} Messages
    %span= link_to image_tag(asset_path("minus.gif"), :id => 'showHideImage',:style => 'height:18px;width:18px;'), '#', :onclick => 'showHideMessages()'
    %hr
    %div{:id =>'showHideMessages'}
      %table{:class => 'table table-condensed'}
        - @auction_messages.each do |auction_message|
          %tr
            %td
              = simple_format("<strong>#{auction_message.creator}</strong> said...")
              = simple_format("#{auction_message.message}")
              = simple_format("#{auction_message.created_at.strftime('%b %d, %Y at %I:%M %p')} <hr/>")

%div{:class => 'well form-horizontal'}
  = render :partial => "form"


