%ul.nav
  %li{:class => 'divider-vertical divider-left'}
  -#- unless current_user.region.nil?
  - unless current_user.region.nil?
    - unless current_user.region == ""
      -#%li
        -#= link_to "Quick Sales Board", sales_silent_auctions_path, :class => is_active?('sales')
      -#%li
        -#= link_to "Running Auctions", silent_auctions_path, :class => is_active?('index')
      %li.dropdown
        -#%a{:href => "#", :id => 'user_menu', :class => "dropdown-toggle", "data-toggle" => "dropdown"}
        %a{:href => "#", :id => 'deals_menu', :class => "#{is_active?('sales')} #{is_active?('index')}", "data-toggle" => "dropdown"}
          = 'Current Deals'
          -#%span
            -#Current Deals
            -#%b.caret
        %ul{:class => "dropdown-menu", :role => 'menu'}
          -#- if not(current_user.admin?)
          %li=link_to("Silent Auctions", silent_auctions_path)
          %li=link_to("Normal Auctions", normal_auctions_silent_auctions_path)
          %li=link_to("Quick Sales", sales_silent_auctions_path)
      %li.dropdown
        = link_to "Closed Auctions", closed_silent_auctions_path, :class => is_active?('closed')
      - if current_user.admin?
        %li.dropdown
          = link_to "Expired Auctions", expired_silent_auctions_path, :class => is_active?('expired')
        -#%li.dropdown
          -#= link_to "Future Auctions", future_silent_auctions_path, :class => is_active?('future')
      -#%li
        -#= link_to "<i class='icon-edit icon-gray'></i> Create New Auction".html_safe, new_silent_auction_path, :class => is_active?('new')

